body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 3.0em;
    margin-bottom: 5px;
}

#header p {
    margin-top: 5px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#menu ul a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

#page {
    padding-bottom: 1.5em;
}

#page h1 {
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
}

#content {
    text-align: justify;
}

.img-item {
    margin-bottom: 1.5rem;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 100;
  }

.nGY2 .nGY2Viewer {
    background-color: #FFFFFF !important;
}

@media only screen and (min-width: 1200px) {
    #site {
        margin: auto;
        max-width: 1800px;
    }

    #header {
        margin-bottom: 50px;
    }

    #center {
        padding-bottom: 10px;
        height: 78%;
    }
    
    #menu {
        padding-top: .1em;
        width: 25%;
        float: left;
    }

    #menu ul li {
        text-align: right;
    }

    #page {
        width: 74%;
        float: right;
        overflow-y: auto;
        padding-right: 10px;
    }

    #page h1 {
        text-align: left;
    }
}





